<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container mt-5">
            <h2>Login</h2>
            <form id="loginForm">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" id="nome" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" id="senha" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Entrar</button>
            </form>
        </div>

        <script>
            // Função para fazer o login via AJAX
            document.getElementById("loginForm").addEventListener("submit", function(event) {
                event.preventDefault();

                const nome = document.getElementById("nome").value;
                const senha = document.getElementById("senha").value;

                const loginData = { nome, senha };

                fetch('/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(loginData)
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Credenciais incorretas');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.tipo === 'cliente') {
                        window.location.href = '/clienteDashboard';  // Redireciona para o menu do cliente
                    } else if (data.tipo === 'funcionario') {
                        window.location.href = '/Menu'; // Redireciona para o menu do funcionário
                    }
                })
                .catch(error => {
                    alert(error.message);
                });
            });
        </script>
    </body>
</html>
